body{
    background-image: url("../imgs/home-bg.png");
    color: #fff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif ;
    letter-spacing: 0.025em;
}

a{
    color: #fff;
    font-weight: bold;
}

button {
    all: unset;
    cursor: pointer;
}

select, input {
    border: none;
    color: #fff;
    border-style: solid;
}

input:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ---Personalized Global Class */
.bold-text {
    font-weight: 700;
}

#reward-calendar-modal{
    display: flex;
    flex-direction: row;
    width: 1248px;
    position: absolute;
    left: calc(50% - 1248px/2);
    top: calc(50% - 640px/2 - 20px);
    background: #1E2138;
    border-radius: 24px;
}


/* ---------------- */
/* Left Section */
/* ---------------- */

#left-calendar{
    display: flex;
    flex-direction: column;
    padding: 24px 32px 28px 32px;
    justify-content: center;
    gap: 16px;
}

#left-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: left;
    gap: 16px 16px;
}

/* Card Item */

.reward-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 132px;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

#border{
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 132px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    user-select: none;
    pointer-events: none;
}

#reward-item-wrapper{
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #5F6EF0 32.81%, #4A3CE9 100%);
    position: relative;
    border-radius: 6px 6px 0 0;
}

#heart{
    position: absolute;
    left: 18px;
    top: 10px;
    z-index: 0;
}

#reward-item{
    position: absolute;
    z-index: 1;
    left: calc(50% - 72px/2);
    top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

#reward-name{
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
}

#day-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background-color: #2A2B3B;
    border-radius: 0 0 6px 6px;
}

#day{
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
}

/* ---------------- */
/* Right Section */
/* ---------------- */

#right-interactive-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 32px 40px 32px;
    isolation: isolate;
    background-color: #181A2A;
    border-radius: 0 24px 24px 0;
}

#exit-button{
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url("../imgs/svgs/times-stroke.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    cursor: pointer;
}

#top-content{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    gap: 20px;
    text-align: center;
}

#text-content{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    align-items: center;
    gap: 12px;
}

#title-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    gap: 8px;
}

.modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

#reset-date{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

#reward-collect-button{
    width: 288px;
    height: 48px;
    background: #E53155;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center; 
    text-transform: uppercase;
}

#reward-collect-button:hover{
    background: #ee4264;
}

#timer-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    gap: 8px;
}

#timer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#timer{
    font-weight:700;
}

#time-zone-indicator{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.seperator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 324px; 
}

#more-info{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

/* ------------- */
/* mask */
/* ------------- */
.reward-card.collected{
    position: relative;
}

#mask{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 26, 42, 0.7);
    border-radius: 6px;
    z-index: 1000;
    top: 0;
    left: 0;
}

#collected-tag{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
}

/* --------------- */
/* Reward Card Today Variant */
/* --------------- */

.reward-card .today{
    position: relative;
    width: 100px;
    height: 132px;
}

#reward-card-content-wrapper{
    position: absolute;
    width: 104px;
    height: 138px;
    top: -3px;
    left: -2px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(255, 207, 239, 0.4), 0px 0px 20px 2px rgba(255, 207, 38, 0.65);
    border-radius: 8px;
    cursor: pointer;
}



#border-today{
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    width: 104px;
    height: 138px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#reward-item-today-wrapper{
    width: 104px;
    height: 104px;
    background: linear-gradient(180deg, #5F6EF0 32.81%, #4A3CE9 100%);
    position: relative;
    border-radius: 8px 8px 0 0;
}

#reward-card-content-wrapper:hover #reward-item-today-wrapper{
    background: linear-gradient(180deg, #6574f7 32.81%, #5546f7 100%);
}

#reward-card-content-wrapper:hover #day-wrapper-today{
    background-color: #2f3041;
}

#heart-today{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 18px;
    top: 12px;
    z-index: 1;
}

#diamond-bg{
    position: absolute;
    z-index: 0;
    left: 12px;
    top: 4px;
}

#reward-item-today{
    position: absolute;
    z-index: 2;
    top: 4px;
    left: calc(50% - 76px/2);
    display: flex;
    width: 76px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

#reward-img{
    width: 72px;
    height: 72px;
}

#reward-img-today{
    width: 76px;
    height: 76px;
}

#reward-name-today{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

#day-wrapper-today{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 34px;
    background-color: #2A2B3B;
    border-radius: 0 0 8px 8px;
}

#day-today{
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 100%;
    font-weight: 700;
}

/* ------------- */
/* mask */
/* ------------- */
.reward-card .collected-today{
    position: relative;
    width: 100px;
    
}

#mask-today{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 104px;
    height: 138px;
    background-color: rgba(24, 26, 42, 0.7);
    border-radius: 8px;
    z-index: 1000;
    top: -3px;
    left: -2px;
}

#collected-tag-today{
    position: absolute;
    top: 16px;
    width: 64px;
    height: 64px;
}

#reward-card-content-wrapper-today{
    position: absolute;
    width: 104px;
    height: 138px;
    top: -3px;
    left: -2px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(255, 207, 239, 0.4), 0px 0px 20px 2px rgba(38, 138, 255, 0.8);  
}

/* Reward Collected Button */
#reward-collected-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 288px;
    height: 48px;
    background: #39BB5D;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center; 
}

/* Reward Code Button */
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: 700;
    line-height: 100%;
    text-align: center; 
}

.button.reward-code-prev{
    width: 84px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 10px;
}

.button.reward-code-today{
    width: 90px;
    height: 22px;
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: 11px;
}


.button.claim{
    background-color: #E53155;
}

.button.claimed{
    background-color: #39BB5D;
    cursor: default;
}

.icon.checkmark {
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

/* Gold Input Box when edit the gold */
.gold-input {
    width: 40px;
    background-color: #414ec9;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #263aac;
}

.gold-input::placeholder{
    color: #fff;
    opacity: 0.6;
}

.gold-input:focus{
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
}

.reward-setting-wrapper{
    position: absolute;
    bottom: 4px;
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;

}

.reward-code-checkbox{
    margin: 0px;
    border-radius: 1px;
    width: 16px;
    height: 16px;
}

/* -----Setting Panel----- */
.setting-panel.gold{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 12px;
    width: 324px;
}

.button-wrapper.gold-setting {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.setting-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 324px;
    
}

.setting-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.setting-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.settings-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.setting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.setting-label { 
    font-size: 14px;
}

.setting-input{
    background-color: #2A2B3B;
    border: 1px solid #63657C;
    height: 24px;
    border-radius: 4px;
    padding: 0 4px;
}

.setting-input.general{
    width: 120px;
}

.setting-input.tier {
    width: 56px;
}

.tier-option-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tier-option {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.setting-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 180px;
    height: 32px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

.setting-button.confirm{
    background-color: #E53155;
}

.setting-button.cancel{
    border: 1px solid #fff;
    margin-top: 12px;
}

.setting-input::placeholder{
    color: #fff;
    opacity: 0.5;
}

.setting-input.tier.min::placeholder {
    color: #39BB5D;
    opacity: 1;
    font-weight: 700;
}

.setting-input.tier.min.edited::placeholder {
    color: #ff9900;
    opacity: 1;
    font-weight: 700;
}

#total-gold{
    font-weight: 700;
    color:#39BB5D
}

/* Date-Control */
#date-control {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0%;
    left: 0%;

}

#date-control:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.date-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 100%;
    background-color: #181A2A;
}

.date-control.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button.date-control{
    width: 120px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
}

.button.date-control.active{
    background-color: #E53155;
}

.button.date-control.active:hover{
    background-color: #ee4264;
}