body{
    background-image: url("../imgs/home-bg.png");
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
    
}

a{
    color: #fff;
    font-weight: bold;
}

button {
    all: unset;
    cursor: pointer;
}

#reward-calendar-modal{
    display: flex;
    justify-content: space-between;
    height: 640px;
    width: 1248px;
    position: absolute;
    left: calc(50% - 1248px/2);
    top: calc(50% - 640px/2 - 20px);
    background: #1E2138;
    border-radius: 24px;
}


/* ---------------- */
/* Left Section */
/* ---------------- */

#left-calendar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding-top: 32px;
    gap: 16px 16px;
    width: 860px;
    height: 100%;
}

/* Card Item */

#reward-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 132px;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

#border{
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 132px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

#reward-item-wrapper{
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #5F6EF0 32.81%, #4A3CE9 100%);
    position: relative;
    border-radius: 6px 6px 0 0;
}

#heart{
    position: absolute;
    left: 18px;
    top: 10px;
    z-index: 0;
}

#reward-item{
    position: absolute;
    z-index: 1;
    left: calc(50% - 72px/2);
    top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

#reward-name{
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
}

#day-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background-color: #2A2B3B;
    border-radius: 0 0 6px 6px;
}

#day{
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
}

/* ---------------- */
/* Right Section */
/* ---------------- */

#right-interactive-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0 40px 0;
    width: 388px;
    isolation: isolate;

    background-color: #181A2A;
    border-radius: 0 24px 24px 0;
}

#exit-button{
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url("../imgs/svgs/times-stroke.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    cursor: pointer;
}

#top-content{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    gap: 20px;
    text-align: center;
}

#text-content{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    align-items: center;
    gap: 12px;
}

#title-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    gap: 8px;
}

#modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}

#reward-date{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
}

#reward-collect-button{
    width: 288px;
    height: 48px;
    background: #E53155;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center; 
    text-transform: uppercase;
}

#reward-collect-button:hover{
    background: #ee4264;
}

#timer-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    gap: 8px;
}

#timer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#timer{
    font-weight:700;
}

#time-zone-indicator{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.seperator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 324px; 
}

#more-info{
    width: 324px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

/* ------------- */
/* mask */
/* ------------- */
#reward-card-collected{
    position: relative;
}

#mask{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 26, 42, 0.7);
    border-radius: 6px;
    z-index: 1000;
    top: 0;
    left: 0;
}

#collected-tag{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
}

/* --------------- */
/* Reward Card Today Variant */
/* --------------- */

#reward-card-today{
    position: relative;
    width: 100px;
    height: 132px;
}

#reward-card-content-wrapper{
    position: absolute;
    width: 104px;
    height: 138px;
    top: -3px;
    left: -2px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(255, 207, 239, 0.4), 0px 0px 20px 2px rgba(255, 207, 38, 0.65);
    border-radius: 8px;
    cursor: pointer;
}



#border-today{
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    width: 104px;
    height: 138px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#reward-item-today-wrapper{
    width: 104px;
    height: 104px;
    background: linear-gradient(180deg, #5F6EF0 32.81%, #4A3CE9 100%);
    position: relative;
    border-radius: 8px 8px 0 0;
}

#reward-card-content-wrapper:hover #reward-item-today-wrapper{
    background: linear-gradient(180deg, #6574f7 32.81%, #5546f7 100%);
}

#reward-card-content-wrapper:hover #day-wrapper-today{
    background-color: #2f3041;
}

#heart-today{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 18px;
    top: 12px;
    z-index: 1;
}

#diamond-bg{
    position: absolute;
    z-index: 0;
    left: 12px;
    top: 4px;
}

#reward-item-today{
    position: absolute;
    z-index: 2;
    top: 4px;
    left: calc(50% - 76px/2);
    display: flex;
    width: 76px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

#reward-img-today{
    width: 76px;
    height: 76px;
}

#reward-name-today{
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

#day-wrapper-today{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 34px;
    background-color: #2A2B3B;
    border-radius: 0 0 8px 8px;
}

#day-today{
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 100%;
    font-weight: 700;
}

/* ------------- */
/* mask */
/* ------------- */
#reward-card-collected-today{
    position: relative;
    width: 100px;
    
}

#mask-today{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 104px;
    height: 138px;
    background-color: rgba(24, 26, 42, 0.7);
    border-radius: 8px;
    z-index: 1000;
    top: -3px;
    left: -2px;
}

#collected-tag-today{
    position: absolute;
    top: 16px;
    width: 64px;
    height: 64px;
}

#reward-card-content-wrapper-today{
    position: absolute;
    width: 104px;
    height: 138px;
    top: -3px;
    left: -2px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(255, 207, 239, 0.4), 0px 0px 20px 2px rgba(38, 138, 255, 0.8);  
}

/* Reward Collected Button */
#reward-collected-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 288px;
    height: 48px;
    background: #39BB5D;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center; 
}